@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-txt: #fff;
  --color-txt-author: #4e4e4e;
  --bg-color: #000; 
  --bg-box-color: #544da5a5;
  --bg-box-color-author: #544da5ac;
  --bg-box-color-author320: #544da5d7;
  --shadow-title: #ff8800;
  --border-btn: #9400009d;
  --shadow-border: #2c2c2c;

  --color-test: #ff0000;
}

html {
  font-family: "Exo 2", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--color-txt);
  font-family: sans-serif;
}

.app {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.app__title {
  font-size: 4rem;
  font-weight: 700;
  text-shadow: -3px -3px 0 var(--shadow-title),
               -3px 3px 0 var(--shadow-title),
               3px -3px 0 var(--shadow-title),
               3px 3px 0 var(--shadow-title);
  text-align: center;
  padding: 4.5rem 0;
}

.container__phrase {
  display: flex;
  flex-direction: column;
  width: 60vw;
  align-items: center;
  margin: auto;
  margin-top: 3.8rem;
  border-radius: 1.1rem;
  justify-content: space-between;
  height: 50%;

  /* border: 1px solid var(--color-test); */
}

.quote {
  padding: 1.5rem 3rem;
  font-size: 1.4rem;
  text-align: center;
  color: var(--color-txt);
  margin-top: 1.5rem;
  background: var(--bg-box-color);
  border-radius: 1rem;
  box-shadow: 0 0 1.5rem var(--shadow-border);
  font-style: italic;
}

.author {
  color: var(--color-txt);
  font-size: 1rem;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: var(--color-txt);
  background: var(--bg-box-color-author);
}

.container__button {
  display: flex;
  margin: 1rem;
  justify-content: center;
  margin-top: 1.8rem;

  /* border: 1px solid var(--color-test); */
}

.app__button:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
}

button {
  cursor: pointer;
  font-family: inherit;
  text-align: center;
  border: none;
  font-weight: 900;
  padding: 10px 20px;
  border-radius: 0.5rem;
  border: 2.5px solid var(--border-btn);
  background-color: var(--shadow-title);
  color: var(--border-btn);
  transition: transform 0.5s;
}

/* tablet (768 x 740)px */
@media(max-width: 1024px){
  .app__title {
    padding: 2.5rem 0;
    font-size: 2.8rem;
    text-shadow: -2.5px -2.5px 0 var(--shadow-title),
                -2.5px 2.5px 0 var(--shadow-title),
                2.5px -2.5px 0 var(--shadow-title),
                2.5px 2.5px 0 var(--shadow-title);
  }

  .container__phrase {
    width: 75vw;
    height: 57%;
  }

  .quote {
    font-size: 1.2rem;
    padding: 1.2rem 1.5rem;
  }

  .author {
    font-size: 0.8rem;
    background: var(--bg-box-color-author320);
  }


}

/* mobiles 320 to 426 px */
@media (max-width: 426px) {
  .app__title {
    padding: 1.8rem 0;
    font-size: 2.2rem;
    font-weight: 600;
    text-shadow: -2px -2px 0 var(--shadow-title),
                -2px 2px 0 var(--shadow-title),
                2px -2px 0 var(--shadow-title),
                2px 2px 0 var(--shadow-title);
  }

  .container__phrase {
    width: 80vw;
    height: 63%;
  }

  .quote {
    font-size: 1rem;
    padding: 1rem 1.2rem;
  }

  .author {
    font-size: 0.7rem;
    background: var(--bg-box-color-author320);
  }

  .app__button {
    font-size: 0.7rem;
  }

}